.btn {
  transition: 0.3s padding,  0.3s margin;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0;
  border:0;
  outline: 0;
  box-shadow: 0;
}

@include media-breakpoint-down(xs) {
  .btn{
    font-size: 0.75rem;
  }
}